.stackContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 65px;
  padding-bottom: 65px;
  border-top: 2px solid rgba(38, 38, 38, 1);
}

@media (max-width: 768px) {
  .stackContent {
    align-items: center;
  }
}

.stackContentTitle {
  color: rgba(229, 226, 225, 1);
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.4px;
}

.stackContentDescription {
  color: rgba(201, 197, 206, 1);
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  letter-spacing: 0px;
}

@media (max-width: 480px) {
  .stackContentDescription {
    text-align: center;
  }
}

.stackCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 25px;
  border-radius: 2px;
  background-color: rgba(32, 31, 31, 1);
  border: 1px solid rgba(72, 70, 77, 1);
  border-radius: 2px;
  cursor: pointer;
  height: inherit;
}

.stackCardTitle {
  color: rgba(229, 226, 225, 1);
  font-family: 'Space Grotesk';
  font-style: Bold;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1.2px;
}

.stackCardItem {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(201, 197, 206, 1);
  font-family: 'Space Grotesk';
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
}

.stackCardItem::before {
  content: '';
  border-radius: 12px;
  background: rgba(200, 194, 235, 1);
  width: 5px;
  height: 5px;
}
